body {
  margin: 0;
}

/* Styles for header, which is same for all */
header {
  height: 400px;
  background: url("/images/Banner_Tab.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* nav bar styles */
nav {
  width: 100%;
  height: 10vh;
  font-size: 4vw;
  background: rgb(119, 119, 119);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  text-align: center;
}
nav a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
/* on hover change styles */
nav a:hover {
  background: rgb(199, 199, 199);
  color: black;
}
.active {
  background: rgba(255, 255, 255);
  color: black;
}
.active:hover {
  background: rgba(255, 255, 255);
}
/* Common styles for main */
main {
  min-height: 100vh;
}
/* common styles for main content */
.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
/* common style for heading */
h1 {
  color: #fdc224;
  font-size: 4.5vw;
  width: 100%;
}

/* Styles for Homepage */
.main-content div {
  width: 100%;
}
#pencil-mob {
  display: none;
}
.home-content img {
  width: 100%;
  margin: 0;
}
/* Styles for Subject Dashboard */
table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  padding: 5px;
  height: 30px;
}
tr td {
  padding: 5px;
  height: 50px;
  text-align: center;
}
tr td:first-child {
  text-align: left;
}
table img {
  height: 35px !important;
  width: auto !important;
}

#subject-dashboard tr td:nth-child(odd) {
  width: 150px;
}
#subject-dashboard tr td:nth-child(even) {
  width: 150px;
}

#subject-dashboard tr td:first-child {
  width: 300px;
}

#subject-dashboard tr:nth-child(odd) td:nth-child(1),
#subject-dashboard tr:nth-child(odd) td:last-child {
  background-color: #e6f9ff;
}
#subject-dashboard tr:nth-child(even) td:nth-child(2),
#subject-dashboard tr:nth-child(even) td:nth-child(3) {
  background-color: #ecfcd8;
}
#subject-dashboard tr:nth-child(even) td:nth-child(4),
#subject-dashboard tr:nth-child(even) td:nth-child(5) {
  background-color: #fcf7b3;
}
/* colors for headings and row cells */
.hblue {
  background-color: #309dd5 !important;
  color: white !important;
  /* border: 1px solid #006192; */
}
.cblue {
  background-color: #e6f9ff !important;
}
.hgreen {
  background-color: #8ec63f !important;
  color: white;
  border: 1px solid #4b8100;
}
.cgreen {
  background-color: #ecfcd8 !important;
}
.hyellow {
  background-color: #fef454 !important;
  border: 1px solid #d1c300;
}
.cyellow {
  background-color: #fcf7b3 !important;
}
.note-list {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 20px;
}

/* Styles for Topic Dashboard */
#topic-dashboard b {
  font-size: 20px;
}
#topic-selector select {
  width: 25%;
  height: 50px;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
}
#topic-dashboard > div {
  margin-bottom: 50px;
}
#topic-dashboard table {
  margin: 25px 0;
}
#topic-dashboard table td {
  border: 0;
}
#topic-dashboard table th {
  color: white;
  font-size: 20px;
}
#topic-dashboard table th,
#topic-dashboard table td {
  height: 60px;
  padding: 10px 25px;
}

.tables-container {
  display: flex;
}
.tables-container div {
  width: 48%;
}
.tables-container div:first-child {
  margin-right: 4%;
}
.tables-container table td,
.tables-container table th,
.tables-container table {
  text-align: center;
  border: 0;
}

#concept-application-table th {
  background-color: #1cbcb4;
}
#learn-indicator-table th {
  background-color: #3cb879;
}
.table-container tr:nth-child(odd) {
  background-color: #ebebeb;
}
.table-container table tr {
  border: 1px solid #b1b1b1;
}
.table-container table th {
  border: 0;
}

/* Questions Dashboard */
#questions-dashboard {
  width: 100%;
}
#indicator-details {
  margin: 80px 0 30px 0;
  display: flex;
  width: 90%;
}
#indicator-details > div {
  display: flex;
  flex-direction: row;
  /* padding: 30px 70px 0 0; */
}
.indicator-image {
  height: 20px !important;
  width: 20px !important;
  margin-right: 20px;
  display: inline-block;
}
.indicator-color {
  height: 20px !important;
  width: 20px !important;
  margin-right: 10px;
  display: inline-block;
}
#option-analysis-table table {
  width: 100%;
  font-size: 20px;
}
#option-analysis-table table td,
#option-analysis-table table th {
  border-width: 1.2px !important;
}
#option-analysis-table table tr td:first-child {
  text-align: center;
}
#option-analysis-table table a {
  text-decoration: none;
}
#option-analysis-table table tr td {
  border: 1px solid rgb(0, 133, 18);
}
#option-analysis-table table tr td:nth-child(1),
#option-analysis-table table tr td:nth-child(2),
#option-analysis-table table tr td:nth-child(3) {
  border: 1px solid rgb(0, 122, 170);
}
#option-analysis-table table tr:nth-child(even) td {
  background-color: rgb(243, 243, 243);
}
#option-analysis-table table tr:nth-child(even) td:nth-child(1),
#option-analysis-table table tr:nth-child(even) td:nth-child(3) {
  background-color: rgb(215, 249, 255);
}
.width-50by3 {
  width: 16.66%;
}
.width-50by4 {
  width: 12.5%;
}
/* colors for each percentage marks */
.c25 {
  background-color: #ed1b24 !important;
}
.c50 {
  background-color: #fe6b01 !important;
}
.c75 {
  background-color: #fef200 !important;
}
.c100 {
  background-color: #8ec63f !important;
}
#question-container {
  margin: 40px 5px;
  padding: 5%;
  width: 90%;
  border: 1px solid blue;
  background-color: #f6fafd;
  min-height: 300px;
  font-size: 20px;
}
#navigator-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: rgb(0, 110, 255);
}
#navigator-button img {
  width: 20px;
  height: 15px;
  transform: rotate(180deg);
  margin-right: 5px;
}
/* questions of Questions Dashboard */
.question img {
  width: 100%;
  margin: 0;
}
.options img {
  display: block;
  margin: 10px;
}
#options-table,
#options-table td {
  border: 0;
}
#options-table td {
  padding: 0px;
  height: 15px;
}
#options-table img {
  width: 40vw;
  height: 6px;
  margin: 0;
}
#options-table td:nth-child(1) {
  width: 10px;
  height: 10px;
  padding: 0;
}
.answer img {
  width: 100%;
}
/* Styles for footer, which is same for all */
footer {
  padding: 10px;
  height: 80px;
  background-color: rgb(44, 44, 44);
  color: white;
  display: flex;
  align-items: center;
}

footer > div span,
footer img {
  margin: 0 25px;
}

footer img {
  position: absolute;
  right: 0;
}

#footer-br {
  display: none;
}

/* Responsive designs */
/* for more lengthy layouts */
@media screen and (max-width: 1280px) {
  header {
    width: 100%;
    height: 380px;
    background: url("images/Banner01.jpg");
    background-size: cover;
  }
}
/* for computer screens */
@media screen and (max-width: 1080px) {
  header {
    width: 100%;
    height: 280px;
    background: url("images/Banner01.jpg");
    background-size: cover;
  }
}
/* for minimized screens */
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    height: 300px;
    background: url("images/Banner_mo.jpg");
    background-size: cover;
  }
  #pencil {
    display: none;
  }
  #pencil-mob {
    display: block;
  }
  footer > div span,
  img {
    margin: 0;
  }
  #footer-br {
    display: block;
  }
  .tables-container {
    display: block;
  }
  .tables-container div {
    width: 100%;
  }
}
/* for mobile device screens */
@media screen and (max-width: 448px) {
  header {
    width: 100%;
    height: 300px;
    background: url("images/Banner_mo.jpg");
    background-size: cover;
  }
  footer {
    font-size: 65%;
  }
  #footer-br {
    display: block;
  }
}
